@import "tokens";

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-group {
  margin-top: 1em;
}

.menu-group-title {
  padding: 5px 10px;
  text-transform: uppercase;
  color: $gray-500;
  font-size: 0.9rem;
  line-height: 1;
  letter-spacing: 0.05em;
}

.menu-link {
  display: block;
  padding: 5px 10px;
  color: inherit;
  text-decoration: none;
  &.active {
    background: $primary-200;
  }
}

.selector {
  color: $gray-500;
}
