<h1>{{selector$ | async}}</h1>

<ng-container *ngIf="(api$ | async) as api; else empty;">
  <table *ngIf="api.outputs" style="width: 100%">
    <tr *ngFor="let output of api.outputs">
      <td>{{output.name}}</td>
      <td>{{output.type}}</td>
      <td>{{output.description}}</td>
    </tr>
  </table>
</ng-container>

<ng-container *ngIf="(demo$ | async) as demo">
  <h2>Demo</h2>
  <div class="demo">
    <ng-container *ngComponentOutlet="demo"></ng-container>
  </div>
</ng-container>

<ng-template #empty>
  Выберите компонент
</ng-template>
