<ng-container *ngIf="(description$ | async) as description">
  <div class="header">
    <h1 class="title">{{description.name}}</h1>
    <div>Селектор: <code class="code">{{description.selector}}</code></div>
  </div>

  <ng-container *ngIf="(demo$ | async) as demo">
    <div class="demo">
      <ng-container *ngComponentOutlet="demo"></ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="(api$ | async) as api ">
    <div class="api-group">
      <app-api-block title="Outputs" [api]="api.outputs"></app-api-block>
    </div>
  </ng-container>

  <ng-template #empty>
    Выберите компонент
  </ng-template>

</ng-container>
